<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/articles/save">
                <input class="form-control" type="text" name="title" placeholder="Defina o título do artigo aqui"><br>
                <textarea name="body" id="article" class="form-control" placeholder="Escreva o artigo aqui"></textarea><br>
                <label>Categoria</label>
                <select name="category" class="form-control">
                    <%categories.forEach((category) => { %>
                        <option><%= category.title %></option>
                    <%}) %>
                </select>
                <butt class="btn btn-success">Cadastrar</butt>
            </form>
        </div>
    </div>
</div>

<%- include ("../../partials/footer.ejs") %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector:"#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>